.calendar-input {
    position: relative;
}

.calendar-input-clear {
    position: absolute;
    z-index: 3;
    top: 6px;
    right: 6px;
}

.calendar-input-clear button {
    background: none;
    outline: none;
    border: none;
    color: #999;
}

.calendar-input-clear button:hover {
    color: #555;
}