.dralt-cal-picker {
    width: 252px;
    padding: 4px;
    background-color: white;
    user-select: none;
    overflow: auto;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
}

.dralt-cal-control {
    height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    border-bottom: 1px solid #f9f9f9;
    cursor: pointer;
}

.dralt-cal-control:hover {
    background-color: #eeeeee;
}

.dralt-cal-control > span {
    display: inline-block;
    line-height: 30px;
}

.dralt-cal-direction {
    width: 36px;
    font-size: 21px;
    background: #fff;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.dralt-cal-switch {
    width: 170px;
}

.dralt-cal-day-row > span {
    display: inline-block;
    text-align: center;
    line-height: 28px;
    width: 14.2857%;
    position: relative;
}

.dralt-cal-day-calendar {
    cursor: pointer;
}

.dralt-cal-day-calendar > span:hover {
    background: #eeeeee;
}

.dralt-cal-today:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

span.dralt-cal-selected,
span.dralt-cal-selected:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.dralt-cal-selected.dralt-cal-today:before {
    border-bottom-color: #fff;
}

.dralt-cal-ex {
    color: #999999;
}

.dralt-cal-disabled, span.dralt-cal-disabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.dralt-cal-year {
    width: 170px;
}

.dralt-cal-year input {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

.dralt-cal-year input:focus {
    border-color: #3c8dbc;
    box-shadow: none;
    outline: 0;
}

.dralt-cal-months > span {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    padding: 15px 0;
    cursor: pointer;
}

.dralt-cal-months :hover {
    background-color: #eee;
}

.dralt-cal-year-controls {
    float: left;
    padding: 5px 0;
}

.dralt-cal-year-controls > button {
    width: 111px;
    margin: 0 5px;
    border-radius: 0;
    background: #eeeeee;
    box-shadow: none;
    border: 1px solid #ccc;
    outline: none;
}

.dralt-cal-time-picker {
    width: 100%;
}

.dralt-cal-time-picker > div {
    display: inline-block;
}

.dralt-cal-time-picker > div:nth-child(1) {
    height: 100px;
    margin-top: 10px;
}

.dralt-cal-time-picker > div:nth-child(2) {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.dralt-cal-time-picker .dralt-cal-feedback button {
    width: 50px;
    margin: 0 3px;
    background-color: #eee;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

.dralt-cal-counter {
    height: 100%;
    width: 40px;
    float: left;
}

.dralt-cal-counter button, .dralt-cal-counter span {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    background-color: #fff;
    border: none;
}

.dralt-cal-counter button:not(:nth-child(2)),
.dralt-cal-counter span:not(:nth-child(2)) {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.dralt-cal-counter button:not(:nth-child(2)):hover,
.dralt-cal-counter span:not(:nth-child(2)):hover {
    background: #eee;
}

.dralt-cal-counter button:nth-child(2),
.dralt-cal-counter span:nth-child(2) {
    height: 20px;
    line-height: 20px;
    font-size: 1.2em;
}

.dralt-cal-time-sep {
    line-height: 100px;
    float: left;
}

.dralt-cal-time-switch {
    border-top: 1px solid #f9f9f9;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.dralt-cal-time-switch:hover {
    background-color: #eeeeee;
}

.dralt-cal-date-switch {
    border-bottom: 1px solid #f9f9f9;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.dralt-cal-date-switch:hover {
    background-color: #eeeeee;
}

.dralt-cal-input {
    position: relative;
}

.dralt-cal-input-clear {
    position: absolute;
    z-index: 3;
    top: 6px;
    right: 6px;
}

.dralt-cal-input-clear button {
    background: none;
    outline: none;
    border: none;
    color: #999;
}

.dralt-cal-input-clear button:hover {
    color: #555;
}

.dralt-cal-input-container {
    position: relative;
    overflow: auto;
}

.dralt-cal-input-container .form-control {
    background: none;
}

.dralt-cal-mask {
    position: absolute;
    left: 0;
    color: #aaa;
    border: 1px solid transparent;
    width: calc(100% - 12px);
    box-sizing: border-box;
    margin-right: 12px;
    overflow: hidden;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

.dralt-cal-mask > div {
    width: 200px;
}